<section class="bg-primary" id="cfp">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Call for Papers</h2>
                <hr class="light">
                <div align="justify">
                <p class="text-faded">Digital Humanities have since their beginning in the 1940s 
                    adapted methods from computer science. In recent years the time span between 
                    invention in computer science and adaption in Digital Humanities has been reduced 
                    dramatically and today applications of ‘traditional’ machine learning and deep learning 
                    can be found in many DH papers. Nevertheless, direct exchange between researchers in 
                    machine learning and in the digital humanities is still rare. In this workshop, we want 
                    to bring together both communities and encourage cooperation between researchers from 
                    machine learning, natural language processing and digital humanities.</p>
                <p class="text-faded">One of the primary goals in the Digital Humanities is the analysis of literary fiction by computational means. 
                    This workshop puts a special focus on the development and application of methods in Natural 
                    Language Processing in combination with Machine Learning to literary texts. While many of the 
                    tasks needed to achieve this goal are also found in other areas of NLP research, 
                    literary texts often provide an exceptionally challenging domain for multiple reasons. 
                    We intend to provide a forum for the exchange between researchers from machine learning 
                    and digital humanities, where these challenges can be addressed together. We believe that, 
                    in many cases, the specific challenges posed by literary texts can only be overcome 
                    by integrating the domain knowledge of (digital) humanists into machine learning methods.</p>
                <p class="text-faded">Possible topics include, but are not limited to:<p>
                <ul>
                    <li>NLP to support the analysis of long text</li>
                    <li>Modeling character constellation with NLP and ML</li>
                    <li>Sentiment analysis for literature</li>
                    <li>Analysis of emotional states of characters</li>
                    <li>Coreference resolution for long documents</li>
                    <li>Analysis of indirect characterisation</li>
                    <li>Dealing with semantic change in historical texts</li>
                    <li>Dealing with dialect in texts</li>
                    <li>Social network extraction from text</li>
                    <li>Social network analysis from text</li>
                    <li>Analysis of character relations</li>
                    <li>Machine Learning for analysis of plot</li>
                    <li>Text generation of long and complex texts</li>
                    <li>Extraction and use of weak labels</li>
                    <li>Transfer learning to deal with few labeled information</li>
                    <li>Modeling literary text with deep learning</li>
                    <li>Knowledge representation for literary (long) texts</li>
                    <li>Integrating domain knowledge about literature into machine learning methods</li>
                   </ul>

                               
                </div>
            </div>
        </div>
    </div>
</section>
