<section class="bg-primary" id="comitee">
  <aside>
    <div class="container">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Program Committee</h2>
		<hr class="light">
	    </div>
	    <div class="col-lg-8 col-lg-offset-2 text-center">
		    <div align="justify">
			    <p>
		            <a href="http://eadh.org/maciej-eder style="color:white;">Maciej Eder</a>, University of Kraków
		            <a href="https://lipn.univ-paris13.fr/~charnois/" style="color:white;">Thierry Charnois</a>, Laboratoire d'Informatique de Paris Nord<br/>
			    <a href="https://lipn.univ-paris13.fr/~gabor/" style="color:white;">Kata Gábor</a>, Laboratoire d'Informatique de Paris Nord<br/>
			    <a href="https://www.ims.uni-stuttgart.de/institut/mitarbeiter/klingern" style="color:white;">Roman Klinger</a>, Stuttgart University<br/>
			    <a href="https://www.ims.uni-stuttgart.de/institut/mitarbeiter/reiterns/" style="color:white;">Nils Reiter</a>, Stuttgart University<br/>
			    <a href="http://eadh.org/jan-rybicki" style="color:white;">Jan Rybicki</a>, University of Kraków											  
			    <a href="https://www.uni-trier.de/index.php?id=64027" style="color:white;">Christof Schöch</a>, Trier University<br/><br/>
			    </p>
		    </div>
	    </div>
	    <!-- <div class="col-lg-12 text-center">
		<div class="row">
                	<div class="col-lg-3 text-center">
                   	<img src="./../img/kata.jpg" alt="" height="189" width="146">
			<p><a href="https://lipn.univ-paris13.fr/~gabor/" style="color:white;">Kata Gábor</a><br>
					Laboratoire d'Informatique de Paris Nord</p>
                	</div>
                	<div class="col-lg-3 text-center">
                   	<img src="./../img/nils.jpg" alt="" height="189" width="146">
			<p><a href="https://www.ims.uni-stuttgart.de/institut/mitarbeiter/reiterns/" style="color:white;">Nils Reiter</a><br>
				Stuttgart University</p>
			</div>
			<div class="col-lg-3 text-center">
                   	<img src="./../img/klinger.jpg" alt="" height="189" width="146">
			<p><a href="https://www.ims.uni-stuttgart.de/institut/mitarbeiter/klingern" style="color:white;">Roman Klinger</a><br>
				Stuttgart University</p>
			</div>
			<div class="col-lg-3 text-center">
                   	<img src="./../img/schöch.jpg" alt="" height="189" width="146">
			<p><a href="https://www.uni-trier.de/index.php?id=64027" style="color:white;">Christof Schöch</a><br>
				Trier University</p>
			</div>
                </div>
	    </div> -->
	    
	    <div class="col-lg-8 col-lg-offset-2 text-center">
	    <p>More members of the Program Committee will be revealed soon.</p>
	    </div>
    </div>
    </section>
