
<section class="bg-primary" id="dates">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Important Dates</h2>
                <hr class="light">
                <div align="justify">
                <p>Paper Submission Deadline: 14. June 2019 <br/>
                   Paper Acceptance Notification: 12. July 2019 <br/>
                   Camera Ready Paper Submission: 26. July 2019 <br/>
                   Late Breaking Submission Deadline: ? <br/>
                   Late Breaking Acceptance Notification: ? <br/>
                   Camera Ready Late Breaking Submission: ? <br/>
                   </p>
                </div>
                </div>
                </div>
                </section>
