<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="color:black";>HummeL: - Humanities meets Learning -</h1>
            <h2 style="color:black";>Challenges for Computational Literary Studies</h2>
            <hr>
            <p style="color:black";>Workshop at the European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<a href="http://ecmlpkdd2019.org/">ECML-PKDD</a> 2019)</p>
            <a href="#cfp" class="btn btn-primary btn-xl page-scroll">Call for Paper</a>
        </div>
    </div>
</header>
