<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="color:black";><s>HummeL: - Humanities meets Learning -</s></h1>
            <h2 style="color:black";><s>Challenges for Computational Literary Studies</s></h2>
            <hr>
            <h2 style="color:darkred";><s>Challenges for Computational Literary Studies</s></h2>
            <hr>
            <p style="color:black";><s>Workshop at the European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (<a href="http://ecmlpkdd2019.org/">ECML-PKDD</a> 2019)</s></p>
            <a href="#cfp" class="btn btn-primary btn-xl page-scroll">Call for Papers</a>
        </div>
    </div>
</header>
