table {
    background: gray;
}
th {    
    display: block;
    float: left;
    padding: 10px 0;
    margin-right:50px;
    background: white;
}
th:last-child {
    margin-right: 0;
}
<section class="bg-primary" id="impressum" style="background-color:#4d4d4d">
  <aside>
    <div class="container">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Impressum</h2>
		<hr class="light">
    <p>Contact: Albin Zehe,  zehe &lt;at&gt; informatik uni-wuerzburg de</p>
    <table cellspacing="80">
    <tr>
	<th><a href="https://www.uni-wuerzburg.de/startseite/"><img src="2000px-Universität_Würzburg_Logo.svg.png" height="82" width="208"></a></th>
	    <th></th>
	    <th><a href="http://ecmlpkdd2019.org/"><img src="breit_datum.png" height="82" width="268"></a></th> 
   <th></th>
	    <th><a href="http://www.dmir.uni-wuerzburg.de/home/"><img src="csm_dmir_logo_035dc32fbf.png" height="82" width="208"></a></th>
    <th></th>
	    <th><a href="http://kallimachos.de/kallimachos/index.php/Hauptseite"><img src="kallimachos.png" height="82" width="208"></a></th>
  </tr>
    </table>
    </div>
    </div>
    </section>
