
<section class="bg-primary" id="impressum">
  <aside>
    <div class="container">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Impressum</h2>
		<hr class="light">
    <p>Contact: Albin Zehe,  zehe &lt;at &gt; informatik.uni-wuerzburg.de</p>
    <table>
    <tr>
    <th><img src="2000px-Universität_Würzburg_Logo.svg.png"></th>
    <th><img src="breit_datum.png"></th> 
    <th><img src="csm_dmir_logo_035dc32fbf.png"></th>
    <th><img src="kallimachos.png"></th>
  </tr>
    </table>
    </div>
    </div>
    </section>
