<section class="bg-primary" id="key">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Keynote Speakers</h2>
                <hr class="light">
                <div align="justify">
                <p class="text-faded">
                Two keynotes from the field of Maschine Learning and Computational Literary Studies are planned.
                Speakers will be announced soon.
                </p>
                </div>
                </div>
                </div>
    </div>
                </section>
