
<section id="loc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Location</h2>
                <hr class="light">
                <div align="center">
                    <p>Zentrales Hörsaal und Seminargebäude Z6, Campus Hubland Süd, Würzburg
                    <iframe width="800" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=9.966026544570925%2C49.78266343115218%2C9.972758889198303%2C49.785604060957596&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=18/49.78413/9.96939">Größere Karte anzeigen</a></small>
                    <p>Futher details at <a href="http://ecmlpkdd2019.org/attending/travel/">ECML-PKDD Homepage</a></p>
                </div>
</div>
</div>
</section>
