
<section class="bg-primary" id="loc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Location</h2>
                <hr class="light">
                <div align="justify">
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Zentrales%20H%C3%B6rsaal-%20und%20Seminargeb%C3%A4ude%20der%20Julius-Maximilians-Universit%C3%A4t%20W%C3%BCrzburg%2C%20W%C3%BCrzburg%2C%20Deutschland&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <p>Futher details at <a href="http://ecmlpkdd2019.org/attending/travel/">ECML-PKDD Homepage</a></p>
                </div>
</div>
</div>
</section>
