
<section id="loc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Location</h2>
                <hr class="light">
                <div align="center">
                    <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=9.962217807769777%2C49.780986949824936%2C9.975682497024536%2C49.78686823445516&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/49.78393/9.96895">Größere Karte anzeigen</a></small>
                    <p>Futher details at <a href="http://ecmlpkdd2019.org/attending/travel/">ECML-PKDD Homepage</a></p>
                </div>
</div>
</div>
</section>
