<section class="bg-primary" id="orga">
    <div class="container">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Organization</h2>
		<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
                <hr>
		    <h3>Workshop Chairs</h3>
		</div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
					<p style="color:#358e51">Prof. Andreas Hotho</p>
                    <img src="img/hotho.jpg" alt="Mountain View">
					<br><br>
					Computer Science, Würzburg University<br>
                    hotho@informatik.uni-wuerzburg.de<br>
                </div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
					<p style="color:#358e51">Prof. Fotis Jannidis</p>
                    <img src="img/jannidis.jpeg" alt="Mountain View">
					<br><br>
					Digital Humanities, Würzburg University<br>
                    fotis.jannidis@uni-wuerzburg.de<br>
                </div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
					<p style="color:#358e51">Albin Zehe</p>
                    <img src="img/zehe.png" alt="Mountain View">
					<br><br>
					Computer Science, Würzburg University<br>
                    zehe@informatik.uni-wuerzburg.de<br>
                </div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
					<p style="color:#358e51">Leonard Konle</p>
                    <img src="img/konle.jpeg" alt="Mountain View">
					<br><br>
					Digital Humanities, Würzburg University<br>
                    leonard.konle@uni-wuerzburg.de<br>
                </div>
                </div>
		    
            </div>
	    <!---<h3>Program Comitee</h3> -->
	    
        </div>
</section>













