<section class="bg-primary" id="orga">
  <aside>
    <div class="container">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Organization</h2>
		<hr/>
		<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
                    <br/>
		    <h2>Workshop Chairs</h2>
	            <br/>
		</div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
					<p>Prof. Andreas Hotho</p>
                    <img src="img/hotho.jpg" alt="" height="146" width="189">
					<br><br>
					Computer Science, Würzburg University<br>
                    hotho@informatik.uni-wuerzburg.de<br>
                </div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
					<p>Prof. Fotis Jannidis</p>
                    <img src="img/jannidis.jpeg" alt="" height="146" width="189">
					<br><br>
					Digital Humanities, Würzburg University<br>
                    fotis.jannidis@uni-wuerzburg.de<br>
                </div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
					<p>Albin Zehe</p>
                    <img src="img/zehe.png" alt="" height="146" width="189">
					<br><br>
					Computer Science, Würzburg University<br>
                    zehe@informatik.uni-wuerzburg.de<br>
                </div>
                <div class="col-lg-2 col-lg-offset-2 text-center">
					<p>Leonard Konle</p>
                    <img src="img/konle.jpeg" alt="" height="146" width="189">
					<br><br>
					Digital Humanities, Würzburg University<br>
                    leonard.konle@uni-wuerzburg.de<br>
                </div>
                </div>
		    
            </div>
	    <!---<h3>Program Comitee</h3> -->
	    
        </div>
</section>













