<section class="bg-primary" id="orga">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Workshop Chairs</h2>
                <hr class="light">
                <div align="justify">
                <p class="text-faded">
                Prof. Andreas Hotho, hotho@informatik.uni-wuerzburg.de </br>
                Prof. Fotis Jannidis, fotis.jannidis@uni-wuerzburg.de </br>
                Albin Zehe, zehe@informatik.uni-wuerzburg.de </br>
                Leonard Konle, leonard.konle@uni-wuerzburg.de </br>
                </p>
            </div>
        </div>
    </div>
</section>













