<section id="submission">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Submission</h2>
                <hr>
                <div align="justify">
                    <p>Electronic submissions will be handled via Easychair. (Available Soon)</p>
                    <p>Full submissions will be accepted until 14. June 2019</p>
                    <p>Late breaking submissions will be accepted until ?</p>
                    <p> Papers must be written in English and formatted according to the Springer <span style="font-style:italic;">Lecture Notes in Computer Science</span> (LNCS) 
                        guidelines. Authors should consult Springer's <a href="ftp://ftp.springernature.com/cs-proceeding/svproc/guidelines/Springer_Guidelines_for_Authors_of_Proceedings.pdf">authors' guidelines</a> and use their proceedings 
                        templates, either for 
<a href="ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip">LaTeX</a> or for 
<a href="ftp://ftp.springernature.com/cs-proceeding/llncs/word/splnproc1703.zip">Word</a>, for the preparation of their papers. 
                        Springer encourages authors to include their <a href="http://bit.ly/2H5xBpN">ORCIDs</a> in their papers. In addition, 
                        the corresponding author of each paper, acting on behalf of all of the authors of that paper, 
                        must complete and sign a Consent-to-Publish form, through which the copyright for their paper 
                        is transferred to Springer. </p>
                    <p>The required length of a paper is 12-16 pages in LNCS format, i.e., the ECML PKDD 2019 submission format. 
                    Overlength papers will be rejected without review (papers with smaller page margins 
                    and font sizes than specified in the author instructions and set in the style files 
                    will also be treated as overlength).</p>
                    <p>In addition to that we encourage the submission of late breaking research results with up to 4 pages length.</p>
                    <p>Accepted papers will be published as workshop proceedings by Springer as part of the  
                    series <span style="font-style:italic;">Lecture Notes in Computer Science</span>. 
                    The proceedings of the past ECML-PKDD Workshops are available through <a href="https://link.springer.com/book/10.1007/978-3-030-13453-2">SpringerLink</a>.
                </div>
                <a href="https://www.springer.com/gp/computer-science/lncs"><img src="img/springer.png"></img></a>
            </div>
        </div>
    </div>
</section>
